.wrapper {
  position:fixed;
  z-index: 1;
  bottom:15px ;
  right: 15px;
  width: clamp(3rem,3rem,4vw);
  height: clamp(3rem,3rem,4vw);
  pointer-events: all;
  color:hsl(47, 10%, 18%) ;
  border-radius: 15px;
  /* background-color: white; */
  background-color: hsl(49, 92%, 53%);
  opacity:0.7;
  box-shadow: var(--accent-amber) 0px 0px 20px ;
  animation: pulse 3s infinite ease-in-out;
}
.overlay{

}
@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.08);}
    100% {transform: scale(1);}
   
}
